[submodule "client_protos"]
	path = messages/src/client_protos
	url = git@github.com:momentohq/client_protos.git
[submodule "messages/src/client_protos"]
	path = messages/src/client_protos
	url = git@github.com:momentohq/client_protos.git
