name: CI

on:
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest
    env:
      MOMENTO_API_KEY: ${{ secrets.ALPHA_TEST_AUTH_TOKEN }}

    steps:
    - name: Checkout project
      uses: actions/checkout@v3

    - name: Set up JDK 17
      uses: actions/setup-java@v3
      with:
        java-version: 17
        distribution: 'corretto'

    - name: Verify README generation
      uses: momentohq/standards-and-practices/github-actions/oss-readme-template@gh-actions-v2
      with:
        project_status: official
        project_stability: stable
        project_type: sdk
        sdk_language: Java
        dev_docs_slug: java

    - name: Verify examples README generation
      uses: momentohq/standards-and-practices/github-actions/oss-readme-template@gh-actions-v2
      with:
        project_status: official
        project_stability: beta
        project_type: other
        template_file: ./examples/README.template.md
        output_file: ./examples/README.md

    - name: Verify Storage examples README generation
      uses: momentohq/standards-and-practices/github-actions/oss-readme-template@gh-actions-v2
      with:
        project_status: official
        project_stability: beta
        project_type: other
        template_file: ./examples/storage/README.template.md
        output_file: ./examples/storage/README.md

    - name: Commitlint and Other Shared Build Steps
      uses: momentohq/standards-and-practices/github-actions/shared-build@gh-actions-v1
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

    - name: Build project
      uses: gradle/gradle-build-action@v2
      with:
        arguments: clean build

    - name: Run integration tests
      run: make prod-test

  build-examples:
    runs-on: ubuntu-latest
    env:
      MOMENTO_API_KEY: ${{ secrets.ALPHA_TEST_AUTH_TOKEN }}

    steps:
      - name: Checkout project
        uses: actions/checkout@v3

      - name: Set up JDK 17
        uses: actions/setup-java@v3
        with:
          java-version: 17
          distribution: 'corretto'

      - name: Build examples
        uses: gradle/gradle-build-action@v2
        id: validation
        continue-on-error: true
        with:
          build-root-directory: ./examples
          arguments: clean build

      - name: Run doc examples
        uses: gradle/gradle-build-action@v2
        with:
          build-root-directory: ./examples
          arguments: docsTasks

      - name: Send CI failure mail
        if: ${{ steps.validation.outcome == 'failure' }}
        uses: momentohq/standards-and-practices/github-actions/error-email-action@gh-actions-v1
        with:
          username: ${{secrets.MOMENTO_ROBOT_GMAIL_USERNAME}}
          password: ${{secrets.MOMENTO_ROBOT_GMAIL_PASSWORD}}

      - name: Flag Job Failure
        if: ${{ steps.validation.outcome == 'failure' }}
        run: exit 1
